<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Attendance">
	<resultMap type="Attendance" id="AttendanceMap">
		<id property="uid" column="U_ID" />
		<result property="oCode" column="O_CODE" />
		<result property="workOn" column="WORK_ON" />
		<result property="workOff" column="WORK_OFF" />

	</resultMap>

	<insert id="AttCreate" parameterType="Attendance">
		INSERT INTO ATTENDANCE(U_ID,O_CODE,WORK_ON,WORK_OFF)
		VALUES (#{uid},#{oCode},#{workOn},#{workOff})
	</insert>

	<select id="workDay" parameterType="String" resultType="String">
	 <![CDATA[   
		select work_on from attendance where work_on = curdate() and u_id=#{uid}
	]]>
	</select>

	<select id="workTime" parameterType="Attendance" resultType="Attendance">  
		 select U_ID,O_CODE,WORK_ON,NVL(to_char(WORK_OFF),'0') WORK_OFF from ATTENDANCE a 
		 WHERE U_ID=#{uid} and O_CODE=#{oCode}
	</select>
	
	<delete id="workDelete">
		delete from ATTENDANCE where U_ID=#{uid}
	</delete>
	
	<insert id="workOnn" parameterType="Attendance">
		insert into ATTENDANCE(U_ID,O_CODE,WORK_ON) values(#{uid}, #{oCode}, sysdate)
	</insert>

	<update id="workOff" parameterType="Attendance">
		UPDATE ATTENDANCE SET WORK_OFF = sysdate
        WHERE U_ID=#{uid}
	</update>

	<select id="AttAll" resultMap="AttendanceMap"
		parameterType="Attendance">
		SELECT * FROM ATTENDANCE
	</select>

</mapper>
