<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">
	<resultMap type="Member" id="MemberMap">
		<id property="uid" column="U_ID" />
		<result property="oCode" column="O_CODE" />
		<result property="pwd" column="PWD" />
		<result property="dept" column="DEPT" />
		<result property="position" column="POSITION" />
		<result property="name" column="NAME" />
		<result property="birth" column="BIRTH" />
		<result property="resident" column="RESIDENT" />
		<result property="address" column="ADDRESS" />
		<result property="mail" column="MAIL" />
		<result property="phone" column="PHONE" />
		<result property="gender" column="GENDER" />
		<result property="cPhone" column="C_PHONE" />
		<result property="salary" column="SALARY" />
		<result property="pImage" column="P_IMAGE" />
		<result property="salaryDate" column="SALARYDATE" />
		<result property="entry" column="ENTRY" />
		<result property="last" column="LAST" />
		<result property="keyword" column="KEYWORD" />
		<result property="okeyword" column="OKEYWORD" />
		<collection property="organization" resultMap="OrganizationMap"></collection>
		<collection property="family" resultMap="FamilyMap"></collection>
		<collection property="degree" resultMap="DegreeMap"></collection>
		<collection property="appreaisal" resultMap="AppreaisalMap"></collection>
		<collection property="transfer" resultMap="TransferMap"></collection>
		<collection property="prize" resultMap="PrizeMap"></collection>
		<collection property="career" resultMap="CareerMap"></collection>
		<collection property="certificate" resultMap="CertificateMap"></collection>
	</resultMap>
	
	<resultMap type="Organization" id="OrganizationMap">
		<result property="oCode" column="O_CODE" />
		<result property="oName" column="O_NAME" />
		<result property="oLevel" column="O_LEVEL" />
	</resultMap>
	<resultMap type="Degree" id="DegreeMap">
		<result property="uid" column="U_ID" />
		<result property="dSchool" column="D_SCHOOL" />
		<result property="dMajor" column="D_MAJOR" />
		<result property="dDegree" column="D_DEGREE" />
		<result property="dGraduated" column="D_GRADUATED" />
		<result property="dStart" column="D_START" />
		<result property="dEnd" column="D_END" />
	</resultMap>
		<resultMap type="Appreaisal" id="AppreaisalMap">
		<result property="uid" column="U_ID" />
		<result property="oCode" column="O_CODE" />
		<result property="aContent" column="A_CONTENT" />
		<result property="aRater" column="A_RATER" />
		<result property="aRating" column="A_RATING" />
		<result property="aScore" column="A_SCORE" />
		<result property="aStart" column="A_START" />
		<result property="aEnd" column="A_END" />
	</resultMap>
		<resultMap type="Transfer" id="TransferMap">
		<result property="uid" column="U_ID" />
		<result property="oCode" column="O_CODE" />
		<result property="uRank" column="U_RANK" />
		<result property="uType" column="U_TYPE" />
		<result property="uStart" column="U_START" />
		<result property="uEnd" column="U_END" />
	</resultMap>
	<resultMap type="Family" id="FamilyMap">
		<result property="uid" column="U_ID" />
		<result property="fRelation" column="F_RELATION" />
		<result property="fName" column="F_NAME" />
		<result property="fBirth" column="F_BIRTH" />
		<result property="fPhone" column="F_PHONE" />
		<result property="fJob" column="F_JOB" />
		<result property="fWith" column="F_WITH" />
	</resultMap>

	<resultMap type="Prize" id="PrizeMap">
		<result property="uid" column="U_ID" />
		<result property="pCrape" column="P_CRAPE" />
		<result property="pInstitution" column="P_INSTITUTION" />
		<result property="pDate" column="P_DATE" />
	</resultMap>

	<resultMap type="Career" id="CareerMap">
		<result property="uid" column="U_ID" />
		<result property="cRectal" column="C_RECTAL" />
		<result property="cTask" column="C_TASK" />
		<result property="cStart" column="C_START" />
		<result property="cEnd" column="C_END" />
	</resultMap>

	<resultMap type="Certificate" id="CertificateMap">
		<result property="uid" column="U_ID" />
		<result property="ceName" column="CE_NAME" />
		<result property="ceIssuer" column="CE_ISSUER" />
		<result property="ceDate" column="CE_DATE" />
	</resultMap>




	
<insert id="memberAdd" parameterType="Member">
		insert all
			into MEMBER(NAME,U_ID,PWD,DEPT,O_CODE,ADDRESS,GENDER,RESIDENT,MAIL,C_PHONE,PHONE,SALARY,SALARYDATE,BIRTH,ENTRY,POSITION) 
			values(#{name},#{uid},#{pwd},#{dept},#{oCode},#{address},#{gender},#{resident},#{mail},#{cPhone},#{phone},#{salary},#{salaryDate},#{birth},#{entry},#{position})
			 <foreach collection="family" item="item" index="index">
			into Family(U_ID,F_RELATION,F_NAME,F_BIRTH,F_PHONE,F_JOB,F_WITH)
			values (#{family.uid},#{item.family.fRelation},#{item.family.fName},#{item.family.fBirth},#{item.family.fPhone},#{item.family.fJob},#{item.family.fWith})
			</foreach>
			into Degree(U_ID,D_SCHOOL,D_MAJOR,D_DEGREE,D_GRADUATED,D_START,D_END) 
			values(#{degree.uid},#{degree.dSchool},#{degree.dMajor},#{degree.dDegree},#{degree.dGraduated},#{degree.dStart},#{degree.dEnd})
			<foreach collection="career" item="item" index="index">
			into Career(U_ID,C_RECTAL,C_TASK,C_START,C_END) values
			(#{career.uid},#{item.career.cRectal},#{item.career.cTask},#{item.career.cStart},#{item.career.cEnd})
			</foreach>
			<foreach collection="certificate" item="item" index="index">
			into Certificate(U_ID,CE_NAME,CE_ISSUER,CE_DATE) values
			(#{certificate.uid},#{item.certificate.ceName},#{item.certificate.ceIssuer},#{item.certificate.ceDate})
			</foreach>
		select * from DUAL	
	</insert>

	<select id="login" resultMap="MemberMap" parameterType="Member">
		SELECT * FROM MEMBER a left join FAMILY b 
		using (U_ID)
		left join PRIZE c 
		using (U_ID)
		left join CAREER d 
		using (U_ID)
		left join CERTIFICATE e
		using (U_ID)
		left join DEGREE f
		using (U_ID)
		left join APPREAISAL g
		using (U_ID)
		left join TRANSFER h
		using (U_ID)
		left join ORGANIZATION i
		using (O_CODE)
		WHERE U_ID = #{uid} AND PWD = #{pwd}
	</select>
	<select id="idSearch" resultMap="MemberMap"
		parameterType="Member">
		SELECT NAME, U_ID FROM MEMBER
		WHERE NAME = #{name} AND MAIL = #{mail}
	</select>
	<select id="pwdSearch" resultMap="MemberMap"
		parameterType="Member">
		SELECT NAME, PWD FROM MEMBER
		WHERE U_ID = #{uid} AND NAME = #{name} AND MAIL = #{mail}
	</select>

	<select id="profile" resultMap="MemberMap"
		parameterType="Member">
		SELECT * FROM MEMBER a
		left join FAMILY b 
		using (U_ID)
		left join PRIZE c 
		using (U_ID)
		left join CAREER d 
		using (U_ID)
		left join CERTIFICATE e
		using (U_ID)
		left join DEGREE f
		using (U_ID)
		left join APPREAISAL g
		using (U_ID)
		left join TRANSFER h
		using (U_ID)
		left join ORGANIZATION i
		on a.O_CODE = i.O_CODE
		where U_ID = #{uid}
	</select>

	<!-- 게시글 전체 개수 조회 -->
	<select id="listCount" resultType="int">
		SELECT count(*) FROM MEMBER
	</select>
	
	<select id="memberAll" resultMap="MemberMap"
		parameterType="Member">
		select o.O_NAME,m.* from member m left join Organization o ON m.O_CODE = o.O_CODE
	</select>
	
	<select id="memberOSeach" resultMap="MemberMap"
		parameterType="Member">
	select o.O_NAME,m.* from member m left join Organization o ON m.O_CODE = o.O_CODE where O_NAME = #{okeyword}
	</select>
	
	  
	<select id="memberSeach" resultMap="MemberMap"
		parameterType="Member" >
		select * from MEMBER 
		where DEPT like '%'|| #{keyword} ||'%'
		OR NAME like '%'|| #{keyword} ||'%'
	</select>

	
	<delete id="memberDelete">
		delete from MEMBER where U_ID = #{uid}
	</delete>

	<update id="memberUpdate" parameterType="Member">
		update MEMBER set NAME =
		#{name}, DEPT = #{dept}, ADDRESS = #{address}, GENDER = #{gender},
		RESIDENT = #{resident}, MAIL = #{mail},C_PHONE = #{cPhone}, PHONE = #{phone},
		 SALARY = #{salary}, SALARYDATE = #{salaryDate},BIRTH=#{birth},ENTRY=#{entry},
		 LAST = #{last}, O_CODE = #{oCode}  ,POSITION = #{position}
		where U_ID = #{uid} and O_CODE = #{oCode}
	</update>
	<update id="familyUpdate" parameterType="Family">
		<foreach collection="family" item="item" index="index">
		update FAMILY set
		F_RELATION = #{fRelation},F_NAME = #{fName}, F_BIRTH=
		#{fBirth},F_PHONE = #{fPhone},F_JOB = #{fJob},F_WITH = #{fWith}
		where U_ID = #{family.uid} and F_NAME = #{item.family.fName}
		</foreach>
	</update>
	<update id="prizeUpdate" parameterType="Prize">
		<foreach collection="prize" item="item" index="index">
		update PRIZE set
		P_CRAPE = #{pCrape},P_INSTITUTION = #{pInstitution},P_DATE = #{pDate}
		where U_ID = #{uid}
		</foreach>
	</update>
	
	<update id="careerUpdate" parameterType="Career">
		<foreach collection="Career" item="item" index="index">
		update CAREER set
		C_RECTAL = #{cRectal},C_TASK = #{cTask},C_START = #{cStart},C_END = #{cEnd}
		where U_ID = #{uid}
		</foreach>
	</update>
	<update id="certificateUpdate" parameterType="Certificate">
		<foreach collection="Certificate" item="item" index="index">
		update CERTIFICATE set
		CE_NAME = #{ceName},CE_ISSUER = #{ceIssuer},CE_DATE = #{ceDate}
		where U_ID = #{uid}
		</foreach>
	</update>
	
	<update id="OrganizationUpdate" parameterType="Organization">
		update ORGANIZATION set
		O_CODE = #{oCode},O_NAME = #{oName}
		where O_CODE = #{oCode}	
	</update>
	<update id="DegreeUpdate" parameterType="Degree">
		update DEGREE set
		D_SCHOOL = #{dSchool},D_MAJOR = #{dMajor},D_DEGREE = #{dDegree},D_GRADUATED = #{dGraduated},D_START = #{dStart},D_END = #{dEnd}
		where U_ID = #{uid}	
	</update>
	<update id="AppreaisalUpdate" parameterType="Appreaisal">
		update APPREAISAL set
		A_CONTENT = #{aContent},A_RATING = #{aRating},A_RATER = #{aRater},A_SCORE = #{aScore},A_START = #{aStart},A_END = #{aEnd}
		where U_ID = #{uid}	
	</update>
	<update id="TransferUpdate" parameterType="Transfer">
		update TRANSFER set
		U_TYPE = #{uType},U_RANK = #{uRank},U_START = #{uStart},U_END = #{uEnd}
		where U_ID = #{uid}	
	</update>
	

</mapper>