<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 입력 값이 Null일 경우 “”이 아닌 Null로 처리 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 사용하고자 하는 클래스의 별칭을 선언 --> 
	<typeAliases>
		<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Member" alias="Member" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Organization" alias="Organization" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Degree" alias="Degree" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Appreaisal" alias="Appreaisal" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Transfer" alias="Transfer" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Family" alias="Family" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Prize" alias="Prize" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Career" alias="Career" />
			<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Certificate" alias="Certificate" />
			
			<typeAlias
			type="com.final05.HelloWorks.board.model.vo.Board" alias="Board" />
			<typeAlias
			type="com.final05.HelloWorks.board.model.vo.Comment" alias="Comment" />
		<typeAlias type="com.final05.HelloWorks.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.final05.HelloWorks.todolist.vo.Todolist" alias="Todolist"/>
	</typeAliases>
	
	<!-- 사용하고자 하는 쿼리를 정의한 mapper.xml을 등록 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/comment-mapper.xml" />
		<mapper resource="mappers/schedule-mapper.xml" />
		<mapper resource="mappers/todolist-mapper.xml" />
	</mappers>
</configuration>
