<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 입력 값이 Null일 경우 “”이 아닌 Null로 처리 -->
	<settings>
		<setting name="jdbcTypeForNull" value="Null" />
	</settings>
	
	<!-- 사용하고자 하는 클래스의 별칭을 선언 --> 
	<typeAliases>
		<typeAlias
			type="com.final05.HelloWorks.member.model.vo.Member" alias="Member" />

		<typeAlias
			type="com.final05.HelloWorks.board.model.vo.Board" alias="Board" />
			<typeAlias
			type="com.final05.HelloWorks.board.model.vo.Comment" alias="Comment" />
	</typeAliases>
	
	<!-- 사용하고자 하는 쿼리를 정의한 mapper.xml을 등록 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/member-board.xml" />
		<mapper resource="mappers/member-comment.xml" />
	</mappers>
</configuration>
